@media only screen and (max-width:768px) {

    
.border-md-1px {
 border: none !important;   
}

.border-md-2px {
 border: none !important;   
}



.border-md-start-1px {
 border-left: none !important;   
} 

.border-md-bottom {
 border-bottom: none !important;   
} 

.border-md-top-1px {
 border-top: none !important;   
} 


.border-md-end-1px {
 border-right: none !important;   
} 

.border-mr-end-1px {
 border-right: 1px solid #dee2e6 !important;   
} 

.border-mr-start-1px {
 border-left: 1px solid #dee2e6 !important;   
} 



.border-mr-bottom-1px {
 border-bottom: 1px solid #dee2e6 !important;   
} 



.border-mr-right-1px {
    border-right: 1px solid #dee2e6 !important;
}

.border-md-top-2px {
 border-top: none !important;   
} 

.border-md-bottom-2px {
 border-bottom: none !important;   
} 

.border-md-start-2px {
 border-left: none !important;   
} 

.border-md-end-2px {
 border-right: none !important;   
} 

.border-mr-end-2px {
 border-right: 1px solid #dee2e6 !important;   
} 

.border-mr-start-2px {
 border-left: 1px solid #dee2e6 !important;   
} 

.border-mr-bottom-2px {
 border-bottom: 1px solid #dee2e6 !important;   
} 

.border-mr-top-2px {
 border-top: 1px solid #dee2e6 !important;   
}

a.text-decoration-none.text-dark {}

ul.list-unstyled>li>a {
    padding-right: 7px;
}

.social-media-bottom>ul>li>a {
    margin-right: 10px;
}

.social-media-bottom>ul>li>a {
    margin-left: 10px;
}


.news-title {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4;
    color: #333;
    /* text-align: right; */
}

.lead-news-right .news-title {
    text-align: left;
}

.lead-down-box .col-lg-6:nth-last-child(even) {
    border-right: none !important;
}

}




