/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "SolaimanLipiNormal";
    src: url('fonts/solaimanlipi_20-04-07.eot');
    src: url('fonts/solaimanlipi_20-04-07.eot')format('embedded-opentype'), url('fonts/solaimanlipi_20-04-07.woff') format('woff'), url('fonts/solaimanlipi_20-04-07.ttf') format('truetype'), url('fonts/solaimanlipi_20-04-07.svg#SolaimanLipiNormal') format('svg');
}

body {
    /* font-family: "Baloo Da 2", sans-serif; */
    font-family: SolaimanLipiNormal;
    font-size: 15px;
    line-height: 150%;
   overflow-x: hidden;
}

.search-btn-height {
    height: 33px;
    width: 100px;
}

.footer-bg-color {
    background-color: #FFE4B5;
}


.english-hover > h3 > a:hover {
    font-weight: bold;
}

.news-body>p{
    font-size: 16px;
}

.time>p{
    font-size: 14px;
}


.bi-house-door,
.heading>h1>a,
.heading>h2>a,
.heading>h3>a,
.heading>h4>a,
.heading>h5>a,
.heading>h6>a{
    transition: all 0.3s ease-in-out;

}
.bi-house-door:hover,
.heading>h1>a:hover,
.heading>h2>a:hover,
.heading>h3>a:hover,
.heading>h4>a:hover,
.heading>h5>a:hover,
.heading>h6>a:hover {
    color: red !important;
}




.heading>h6{
    font-size: 25px;
}

.social-icon-width {
    width: 50%;
}

.address>p{
    font-size: 18px;
}



.header-nav>ul>li>a:hover {
    color: black !important;
    background-color: white;
    transition: all 0.5s;

}


.tab-letest>ul>li>a:hover {
    color: red !important;
    background-color: white;
    border-bottom: 2px solid red;
    border-width: 100%;

}



.border-md-bottoms {
    border-bottom: 1px gray !important;
}



.bg-opacity {
        background: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        
}




.font-size-10 {
    font-size: 10px ;
}

.font-size-11 {
    font-size: 11px;
}
.font-size-12 {
    font-size: 12px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-15 {
    font-size: 15px  !important;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-17 {
    font-size: 17px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-21 {
    font-size: 21px;
}

.font-size-22 {
    font-size: 22px;
}
.pe-0 {
    padding-right: 0;
}

.font-size-23 {
    font-size: 23px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-27 {
    font-size: 27px;
}

.font-size-28 {
    font-size: 28px;
}

.font-size-29 {
    font-size: 29px;
}

.font-size-30 {
    font-size: 30px;
}




.social-media>ul>li>a>i {
    border: 1px solid #ddd;
    font-size: 14px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 22px;
    border-radius: 50px;
    color: #333;
    padding-left: 1px;
}

.social-media>ul>li>a>.fa-facebook-f:hover {
    background-color: #1877F2;
    color: white;
}

.social-media>ul>li>a>.fa-x-twitter-f:hover {
    background-color: #000000 ;
    color: white;
}

.social-media>ul>li>a>.fa-youtube:hover {
    background-color: #ff0000 ;
    color: white;
}

.social-media>ul>li>a>.fa-instagram:hover {
    background-color: #8134AF ;
    color: white;
}


.social-media>ul>li>a>.fa-whatsapp:hover {
    background-color:  #25d366 ;
    color: white;
}

.social-media>ul>li>a>.fa-linkedin-in:hover {
    background-color: #0077B5 ;
    color: white;
}




.bi-house-door,
.heading>h1>a,
.heading>h2>a,
.heading>h3>a,
.heading>h4>a,
.heading>h5>a,
.heading>h6>a{
    transition: all 0.3s ease-in-out;

}
.bi-house-door:hover,
.heading>h1>a:hover,
.heading>h2>a:hover,
.heading>h3>a:hover,
.heading>h4>a:hover,
.heading>h5>a:hover,
.heading>h6>a:hover {
    color: red !important;
}


.border-md-1px {
 border: 1px solid #b9b9b9 !important;   
}

.border-md-2px {
 border: 2px solid #b9b9b9 !important;   
}



.border-md-start {
 border-left: 1px solid #b9b9b9 !important;   
} 

.border-md-bottom {
 border-bottom: 1px solid #b9b9b9 !important;   
} 

.border-md-top-1px {
 border-top: 1px solid #b9b9b9 !important;   
} 


.border-md-end-1px {
 border-right: 1px solid #b9b9b9 !important;   
} 

.border-mr-end-1px {
 border-right: none !important;   
} 

.border-mr-start-1px {
 border-left: none !important;   
} 

.border-mr-bottom-1px {
 border-bottom: none !important;   
} 

.border-mr-right-1px {
    border-right: none !important;
}

.border-md-top-2px {
 border-top: 2px solid #b9b9b9 !important;   
} 

.border-md-bottom-2px {
 border-bottom: 2px solid #b9b9b9 !important;   
} 

.border-md-start-2px {
 border-left: 2px solid #b9b9b9 !important;   
} 

.border-md-end-2px {
 border-right: 2px solid #b9b9b9 !important;   
} 

.border-mr-end-2px {
 border-right: none !important;   
} 

.border-mr-start-2px {
 border-left: none !important;   
} 

.border-mr-bottom-2px {
 border-bottom: none !important;   
} 

.border-mr-top-2px {
 border-top: none !important;   
} 


.bg-ofcanvas {
    background: #DCDCDC;
}


.box {
    height: 250px;
    width: 250px;
    margin: auto;
    background: red;
    color: white;
    font-size: 10px;
    padding: 10px;
}

.box {
    align-content: center;
    text-align: center;
}

/* .offcanvas-box {
    margin-top: 67px;
} */